* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: bisque;
  border-bottom: 1px solid #0e0000;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.sunny{
 
 display: flex;
 justify-content: space-between;
 margin: 40px 40px;

}
.sunny img{
  border-radius: 10px;
}





.hero-text {
  max-width: 40%;
}
.hero-text h1 {
  font-size: 40px;
}
.hero-text p {
  margin-top: 15px;
  color: #666;
}
.hero-imgs {
  display: flex;
  gap: 20px;
}
.hero-imgs img {
  width: 120px;
}


.collections {
  text-align: center;
  padding: 50px 20px;
}
.collection-grid {
  display: flex;
 justify-content: center;
  gap: 20px;
  margin-top: 30px;
}



.card {
  width: 250px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card button {
  margin-top: 10px;
  padding: 8px 16px;
  background: rgb(41, 11, 232);
  color: rgb(235, 5, 166);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




.best-seller {
  text-align: center;
  padding: 50px 20px;
}
.product-juba {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.product {
  width: 200px;
}
.product img {
  width: 100%;
  border-radius: 5px;
}
.product p {
  margin-top: 10px;
  font-weight: bold;
}
.product span {
  color: gray;
  font-size: 14px;
}